<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gadget Sign Up Form a Flat Responsive Widget Template :: w3layouts </title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="Gadget Sign Up Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
    />
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.min.js"></script>
</head>
<body>
<h1 class="error">Interface Test Platform</h1>
<!---728x90--->
<div class="w3layouts-two-grids">
    <!---728x90--->
    <div class="mid-class">
        <div class="img-right-side">
            <img src="static/images/b11.png" class="img-fluid" alt="">
        </div>
        <div class="txt-left-side">
            <h2> Login Here </h2>
            <form action="/loginapi/" method="post">
                <div class="form-left-to-w3l">
                    <span class="fa fa-user-o" aria-hidden="true"></span>
                    <input type="text" class="username" placeholder=" Name" required="" name="username">
                    <div class="clear"></div>
                </div>

                <div class="form-left-to-w3l ">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <input type="password" class="password" placeholder="Password" required="" name="password">
                    <div class="clear"></div>
                </div>
                <div class="main-two-w3ls">
                    <div class="left-side-forget">
                        <input type="checkbox" class="checked">
                        <span class="remenber-me">Remember me </span>
                    </div>
                    <div class="right-side-forget">
                        <a href="#" class="for">Forgot password...?</a>
                    </div>
                </div>
                <div class="btnn">
                    <button type="submit" class="login-btn">Login</button>
                </div>
            </form>
            <div class="w3layouts_more-buttn">
                <h3>Have an account..?
                    <a href="#">Login Here
                    </a>
                </h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>